Repository secureailabs/Engineering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @David-G-SAIL, @stanleylinSail, @JENKINS-SAIL, @prawalgangwar

.github/CODEOWNERS:

# Default Reviewers for all code changes
* @David-G-SAIL @stanleylinSail
# Review for README.md
*.md @stanleylinSail

# Review for Builds
*.sh @JENKINS-SAIL @prawalgangwar @stanleylinSail
*.bat @JENKINS-SAIL @stanleylinSail

# Review for Platform Stability
/Docker/* @prawalgangwar @stanleylinSail
/CI_CD/* @JENKINS-SAIL @stanleylinSail
/AzureDeploymentTemplates/* @prawalgangwar
/InternalTools/DeployPlatform/* @prawalgangwar

# Github Configs PR review
.github/* @JENKINS-SAIL @stanleylinSail

Fixing issues relating to this pull request
  EndPointTools/Orchestrator/Sources/Orchestrator.cpp
  EndPointTools/Orchestrator/Sources/SessionManager.cpp
  InternalTools/WindowsPlatformDeliverables/CoreLibrary/JsonParser.cpp
  SharedCommonCode/Sources/JsonParser.cpp
Owners: @David-G-SAIL, @stanleylinSail

Updating JsonParser code in windows
  InternalTools/WindowsPlatformDeliverables/CoreLibrary/JsonParser.cpp
Owners: @David-G-SAIL, @stanleylinSail

Update RunServices.sh BOARD-1588
  Docker/RunService.sh
Owners: @prawalgangwar, @stanleylinSail

Update Entrypoiunt.sh BOARD-1589
  Docker/orchestrator/Entrypoint.sh
Owners: @JENKINS-SAIL, @prawalgangwar, @stanleylinSail

Update README BOARD-1587
  Docker/Readme.md
Owners: @prawalgangwar, @stanleylinSail

BOARD-1567 BOARD-1592
  EndPointTools/Orchestrator/Include/Orchestrator.h
  EndPointTools/Orchestrator/Sources/Orchestrator.cpp
  SharedCommonCode/Sources/CurlRest.cpp
  WebService/Plugins/RestApiPortal/SailAuthentication/Sources/SailAuthentication.cpp
Owners: @David-G-SAIL, @stanleylinSail

BOARD-1592
  EndPointTools/Orchestrator/Sources/Orchestrator.cpp
Owners: @David-G-SAIL, @stanleylinSail
